<h1>Short URL</h1>

<%= form_with model: @link, remote: true do |form| %>
  <%= form.text_field :original_url%>
  <%= form.submit %>
<% end %>

<tr>
  <% @original_url.each do |f|%>
    <td>
      <p>Original URL: <%= f.original_url %></p>
      <p>Shortened URL URL: <%= "https://shorturl-5x.herokuapp.com/#{f.lookup_code}" %></p>
    </td>
  <% end %>
</tr>