<h1>Short URL</h1>

<%= form_with model: @link, remote: true do |form| %>
  <%= form.text_field :original_url%>
  <%= form.submit %>
<% end %>

<ul>
  <% @original_url.each do |f|%>
    <li>
      <%= f.original_url %>
      <%= "http://localhost:3000/#{f.lookup_code}" %>
    </li>
  <% end %>
</ul>